html {
  padding: 0;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:rgb(41, 25, 112);
}

h1 {
  color:mistyrose;
  letter-spacing: 0.05rem;
}

body {
  margin: 0;
  padding: 1rem;
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
}

.chat {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#messages {
  display: flex;
  flex-direction: column;
  height: 40vh;
  overflow: scroll;
  inline-size: 350px;
  overflow-wrap: break-word;
}

.msg {
  color: seagreen;
  font-size: 1rem;
}

.msgCtn {
  margin: 1rem 0;
  color: white;
  padding: 1rem;
  border-radius: 25px;
  font-size: 1rem;
}

.user1 {
  background-color: cornflowerblue;
  align-self: flex-end;
}

.user2 {
  background-color: tomato;
  align-self: flex-start;
}

.input {
  margin-right: 0.5rem;
  border: none;
  border-radius: .5rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  width: 258px;
  height: auto;
  background-color: aliceblue;
  overflow: auto;

  &:focus {
    background-color: white;
  }
}

.btn {
  border-radius: .5rem;
  background-color: seagreen;
  color: whitesmoke;
  border: none;
  padding: 1rem;
}

form {
  align-self: flex-end;
}