html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 1rem;
  height: 100vh;
  width: 100vw;
}

.chat {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.msg {
  color: seagreen;
  font-size: 1rem;
}

.msgCtn {
  margin: 1rem 0;
  color: white;
  padding: 1rem;
  background-color: seagreen;
  border-radius: 25px;
  font-size: 1rem;
}

.input {
  margin-right: 2rem;
  border: none;
  border-radius: .5rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;

  &:focus {
    background-color: white;
  }
}

.btn {
  border-radius: .5rem;
  background-color: seagreen;
  color: whitesmoke;
  border: none;
  padding: 1rem;

}